<Ui>
 <Frame name="ConfigFrame" 
    toplevel="true" parent="UIParent" frameStrata="DIALOG" 
    hidden="true" enableMouse="true">
	<Size><AbsDimension x="300" y="280"/></Size>
	<Anchors><Anchor point="CENTER"/></Anchors>
	
	<Backdrop bgFile="Interface\DialogFrame\UI-DialogBox-Background" 
		edgeFile="Interface\DialogFrame\UI-DialogBox-Border" tile="true">
		<BackgroundInsets>
			<AbsInset left="11" right="12" top="12" bottom="11"/>
		</BackgroundInsets>
		<TileSize><AbsValue val="32"/></TileSize>
		<EdgeSize><AbsValue val="32"/></EdgeSize>
	</Backdrop>
	
	<Layers>
		<Layer level="ARTWORK">
			<Texture file="Interface\DialogFrame\UI-DialogBox-Header">
				<Size><AbsDimension x="256" y="64"/></Size>
				<Anchors>
					<Anchor point="TOP">
					<Offset><AbsDimension x="0" y="12"/></Offset>
					</Anchor>
				</Anchors>
			</Texture>
		</Layer>
		<Layer level="OVERLAY">
			<FontString inherits="GameFontNormal" text="Bingo Config">
				<Anchors>
					<Anchor point="TOP" relativeTo="$parent"></Anchor>
				</Anchors>
			</FontString>
			
			<FontString name="$parentButtonWidthLabel" inherits="GameFontWhite" text="Square Size">
				<Anchors>
					<Anchor point="TOPLEFT" relativeTo="$parent" x="30" y="-40" />
				</Anchors>
			</FontString>
		</Layer>
	</Layers>
	
	<Frames>
		
		<Button name="$parentButtonDecreaseWidth" inherits="UIPanelButtonTemplate" text="&lt;">
			<Anchors>
				<Anchor point="LEFT" relativeTo="$parentButtonWidthLabel" relativePoint="RIGHT" x="10" y="0" />
			</Anchors>
			<Scripts>
				<OnClick> ClickChangeSquareSize(self, button, down); </OnClick>
			</Scripts>
		</Button>
		
		<EditBox name="$parentEditBox" letters="3" numeric="true" font="GameFontWhite" autofocus="false" inherits="InputBoxTemplate">3
			<Size x="40" y="32" />
			<Anchors>
				<Anchor point="LEFT" relativeTo="$parentButtonDecreaseWidth" relativePoint="RIGHT" x="10" y="0" />
			</Anchors>
			<Scripts>
				<OnEditFocusLost> ConfigSetValue(self) </OnEditFocusLost>
				<OnEnterPressed> ConfigSetValue(self) </OnEnterPressed>
			</Scripts>
		</EditBox>
				
		<Button name="$parentButtonIncreaseWidth" inherits="UIPanelButtonTemplate" text="&gt;">
			<Anchors>
				<Anchor point="LEFT" relativeTo="$parentEditBox" relativePoint="RIGHT" x="10" y="0" />
			</Anchors>
			<Scripts>
				<OnClick> ClickChangeSquareSize(self, button, down); </OnClick>
			</Scripts>
		</Button>
		
	
		<Button name="$parentButtonClose" inherits="OptionsButtonTemplate" text="Close">
			<Anchors>
				<Anchor point="BOTTOMRIGHT">
				<Offset><AbsDimension x="-12" y="16"/></Offset>
				</Anchor>
			</Anchors>
			<Scripts>
				<OnClick> ConfigFrame:Hide(); </OnClick>
			</Scripts>
		</Button>
		
		<Button name="$parentButtonToDefault" inherits="OptionsButtonTemplate" text="Defaults">
			<Anchors>
				<Anchor point="BOTTOMLEFT">
				<Offset><AbsDimension x="13" y="16"/></Offset>
				</Anchor>
			</Anchors>
			<Scripts>
				<OnClick> ConfigToDefault(); </OnClick>
			</Scripts>
		</Button>
	</Frames>
	
	<Scripts>
		<!--<OnLoad> ConfigFrame:Show() </OnLoad> -->
	</Scripts>
 </Frame>
 </Ui>